<div class="row">
    <div class="col-md-8 col-lg-offset-2" style="margin-top: 50px;">
        <form class="form-horizontal" ng-submit="submit()">

            <div class="form-group">
                <gateway-name-list></gateway-name-list>
            </div>

            <div class="form-group">
                <label for="nodeId" class="col-sm-2 control-label">节点PID</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="data.nodeId" class="form-control" id="nodeId" placeholder="节点PID">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">传感器名称</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="data.name" class="form-control" id="name" placeholder="传感器名称">
                </div>
            </div>
            <div class="form-group">
                <label for="channelId" class="col-sm-2 control-label">通道ID</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="data.channelId" class="form-control" id="channelId" placeholder="通道ID">
                </div>
            </div>
            <div class="form-group">
                <label for="dataType" class="col-sm-2 control-label">数据类型</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="data.dataType" class="form-control" id="dataType" placeholder="数据类型">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>